{% load static %}


<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %} ">
                        <a class="nav-link" href="{% url "index:home" %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item  {% if request.resolver_match.url_name == 'home' %}{% endif %} ">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item  {% if request.resolver_match.url_name == 'articles_page' %}active{% endif %} ">
                        <a class="nav-link" href="{% url 'Blog:articles_page' %}">Blog Entries</a>
                    </li>
                    <li class="nav-item  {% if request.resolver_match.url_name == 'home' %}{% endif %} ">
                        <a class="nav-link" href="{% url "Blog:contactus" %}">Contact Us</a>
                    </li>
                    <li class="nav-item">

                        <!-- home.html -->
                        {% if user.is_authenticated %}
                            <div class="">
                                <a href="/login">Profile</a>
                                <div class="">
                                    <a href="/logout">log out</a>
                                </div>
                            </div>
                            <!-- Display content for logged-in users -->
                        {% else %}
                            <div class="col-lg-4">
                            <div class="main-button">
                                <div style="display: inline-block ;margin-right: 20px"><a class="flex-b" rel="nofollow" href="/login" target="_parent">login/signup</a></div>
{#                                <div style="display: inline-block ;margin-left: 10px"><a rel="nofollow" href="/register" target="_parent">signup</a></div>#}
                            <!-- Display content for guests -->
                        {% endif %}

                        </div>
                        </div>

                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

